%% -*- erlang -*-
[
 {fuserl_image,
  [
   {linked_in,true},
   {make_mount_point,true},
   {root_directory, "$HOME/tmp"},
   {mount_point,"$HOME/erlfs"},  %% EDIT ME!
   {mount_opts,"allow_other,default_permissions"},
   {delay_write, 0},
   {delay_read, 0},
   {max_open_size, 5},
   {max_open_time, 5000},
   {images,
    [
     [{name, "image-name1"},
      {bmap_name, "image-name1.bmap"},
      {block_name, "image-name1.blk"},
      {primary,    "ftp://data.local/image-name1" },
      {secondary,  "sftp://backup.com/image-name1" },
      {block_size, "4K"},
      {size,"1M"}
     ],
     [{name, "image-name2"},
      {size,"2M"},
      {block_size,"8K"}]
    ]}
  ]}
].

